
<div align="center" class="well">

<%= alert %>

<%= form_for :login  do |f| %>
<%= f.email_field :email, :placeholder => "Email-id" %><br/> 
<%= f.password_field :encrypted_password, :placeholder => "Password" %>
<br/>
<%= f.submit 'Login', :class => 'btn btn-success' %>
<% end %>

</div>

