<html>
<head>
<title>ShareIt</title>
</head>
<body>
<div class="container-fluid">

<%= render :partial => 'category/categories' %>


<% if @cat = nil %>
<div class="alert">
<span class="close" data-dismiss= "alert">&times;</span>
<%= flash[:post] = "Sorry!! an error occured" %>
<% else %>
<% flash[:post] = nil %>
<% end %>
</div>


	
<% if flash[:success] %>
<div class= "alert">
<span class= "close" data-dismiss= "alert">&times;</span>
<%=  flash[:success] %>
<% else %>
<%=  flash[:success] = nil %>
</div>
<% end %>
</div>

<a href="#myModal" role="button" class="btn btn-success btn-large" data-toggle="modal">New Category</a>				


<div class="row">

<% @post.each do |p| %>

<div class="well span6">

<%= image_tag @p_thumb %>
<h1><%= link_to p.title, :id => p.id, :action => 'show', :controller => 'post' %></h1>
</br>
<h3>By: <%= @user.firstname %></br></h3>
<hr />
<h4>Tags: <%= p.tag %></br></h4>
<hr />
</div>

<% end %>
</div>

</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Add a new Category</h3>
  </div>
  <div class="modal-body">
<%= render :template => '/category/new' %>
  </div>
  <div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

</div>



<script type="text/javascript">
$(function(){
$('#all_cat').dropdown();
});	
</script>

</body>	
</html>
