<html>
	<head>
		<title>ShareIt</title>
	</head>
	<body>
<div class="container-fluid">

<div class="container">

<% if @post = nil %>
<div class="alert">
<span class="close" data-dismiss= "alert">&times;</span>
<%= flash[:post] = "Sorry!! You have no Post" %>
<%= link_to 'Create a New Post', post_new_path %>
<% else %>
<% flash[:post] = nil %>
<% end %>
</div>

<div class="container">
	
<% if flash[:success] %>
<div class= "alert">
<span class= "close" data-dismiss= "alert">&times;</span>
<%=  flash[:success] %>
<% else %>
<%=  flash[:success] = nil %>
</div>
<% end %>
</div>

<div class="container row-fluid">
<% @user_post.each do |p| %>
<div class="row  well">
<h2><%= link_to p.title, post_show_path(:id => p.id) %></br></h2>
<hr />
<h4>Tags: <%= p.tag %></br></h4>
<hr />

<%= link_to 'edit', :action => 'edit', :id => p.id %></br><hr />
<%= link_to 'delete', :action => 'destroy', :id => p.id %></br>
</div>
<% end %>
</div>





	



</div>

</div>

</body>	
</html>
