<html>
	<head>
		<title>ShareIt</title>
	</head>
	<body>

<div class="container-fluid">
		
<ul style="list-style: none; font-size: larger">

<div  class="well row  span3">
<li><h2 style="font-family: 'Rum Raisin', sans-serif;"><%=  @user_post.title %></h2></li><br/>
By: <li><%= @user.firstname %></li></br>
<hr />
<%= @user_post.data %>
<hr />
Tags:<li><%= @user_post.tag %>	</li><br/>
Created at: <li><%=  time_ago_in_words(@user_post.created_at) + "  ago" %></li><br/>
<li><hr /></li>	
</div>
</ul>
		
		</div>
</body>	
</html>
