<html>
	<head>
		<title>ShareIt</title>		
	</head>
<body>

<div class="well container-fluid">

<h1 style=" text-align: center; font-size: 50px; font-family: 'Grand Hotel', cursive;
 ">SignUp for ShareIt</h1>

<div align="center" class="container">
	
<%= form_for :user_data do |u|  %>
<%= u.text_field :firstname, :placeholder => 'Firstname' %>
<br />
<%= u.text_field :lastname, :placeholder => 'Lastname' %>
<br />
<%= u.text_field :email, :placeholder => 'Email' %>
<br />
<%= u.text_field :password, :placeholder => 'Password' %>
<br />
<%= u.submit "SignUp", :class => 'btn btn-success' %>
<br />
<% end %>
							
	
	
	
	
	
	
	
	
</div>
	
</div>

	
</body>	
</html>
