<html>
	<head>
		<title>Edit your Profile </title>		
	</head>
<body>
	
<div class="well container-fluid">

<%= success %></br>
<%= alert %>


<%= form_for :user do |p| %>

<ul>

<li><%= p.text_field :firstname %></li>
<li><%= p.text_field :lastname %></li>
<li><%= p.text_field :email %></li>
<li><%= p.text_field :encrypted_password %></li>
<li>
<%= p.submit 'Edit', :class => 'btn btn-success', 
:id => params[:id] %>	
</li>

</ul>

<% end  %>















</div>




</body>	
</html>
