<html>
	<head>
		<title>Edit your Profile </title>		
	</head>
<body>
	
<div class="well container-fluid">

<%= success %></br>
<%= alert %>


<%= form_for @user do |p| %>
<%= p.text_field @user.firstname %>
<br />
<%= p.text_field @user.lastname %>
<br />
<%= p.text_field @user.email %>
<br />
<%= p.text_field @user.password %>
<br />
Total Post <%= total_post %>
<br />
<%= p.submit 'Edit', :class => 'btn btn-success', :id => 1 %>
<% end  %>












</div>




</body>	
</html>
