<html>
	<head>
		<title>SignUp for ShareIt</title>		
	</head>
<body>

<div class="well container-fluid">

<% if flash[:success] %>
<div class="alert ">		
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<%= flash[:success] %>
</div>
<% end %>
<% else %>
<% flash[:success] = nil %>






<div class="container">

<ul>
<li>Firstname:  <%= @user.firstname %></li>
<li>Lastname:   <%= @user.lastname %></li>
<li>Email-id:   <%= @user.email %></li>
<li>Member since: <%= time_ago_in_words(@user.created_at)  %></li>
<li><%=  %></li>
<li><%=  %></li>
<li><%=  %></li>
<li><%=  %></li>
</ul>

</div>












</div>

</div>


</body>	
</html>
