<!DOCTYPE html>
<html lang="en">
		<head>
		<title>SignUp for ShareIt</title>		
	</head>
<body>
<div class=" container-fluid">

<%= success %>







<div class="well container">

Firstname: <%= @user.firstname %><br/>
Lastname: <%=  @user.lastname %><br />
Email: <%= @user.email %><br />
Total Posts: <%= total_post %>
<hr />
Followers
<%= %>	
	
	
</div>


<div class="well offset3">

</div>	
	




















</div>
</body>	
</html>
